<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/verify_hospital">verify hospital</a></td>
  </tr>
  <tr>
    <td><a href="/verify_driver">verify driver</a></td>
  </tr>
  <tr>
    <td><a href="/block_driver_data">block driver</a></td>
  </tr>
  <tr>
    <td><a href="/view_driver_rating">view driver rating</a></td>
  </tr>
  <tr>
    <td><a href="/view_user">view user</a></td>
  </tr>
  <tr>
    <td><a href="/block_user_data">block user</a></td>
  </tr>
  <tr>
    <td><a href="/view_feedback">view feedback</a></td>
  </tr>
  <tr>
    <td><a href="/logout">logout</a></td>
  </tr>
</table>
</body>
</html>
